system/system/priv-app/VMessage/VMessage.apk
system/system/priv-app/GmsCore/GmsCore.apk
system/system/priv-app/Velvet/Velvet.apk
system/system/app/Chrome/Chrome.apk
12dceef2559ae3df88bcd75a91043f2c44016b17.zip
