# loggerd rc file, 
# SA, System S/W.

on post-fs-data
    mkdir /data/log/auto_logs 0775 system log
    chown system log /data/log/auto_logs
    chmod 0775 /data/log/auto_logs

service loggerd /system/bin/loggerd
    class late_start
    user system
    group system log
    oneshot

on property:init.svc.zygote=restarting
    restart loggerd
